/* root */
$primary-color:#8D36B8;
$secondary-color:#DEDEDE;

/* text colors */
$default-txtColor:#000000;

/* font family */
$font-family:'Montserrat', sans-serif !important;

/* font weights */
$fw-regular:400;
$fw-medium:500;
$fw-semiBold:600;
$fw-bold:700;

/* sidebar */
$sidebar-width:130px;

/* header */
$header-height:70px;